<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="medium">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Details</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="flex-center">
    <ion-grid >
      <ion-row class="ion-justify-content-evenly">
        <ion-col size="5.5">
          <ion-card class="ion-padding">
            <app-chart></app-chart>
          </ion-card>
        </ion-col>
        <ion-col size="5.5">
          <ion-card class="ion-padding">
            <app-chart></app-chart>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-evenly">
        <ion-col size="5.5">
          <ion-card class="ion-padding">
            <app-chart></app-chart>
          </ion-card>
        </ion-col>
        <ion-col size="5.5">
          <ion-card class="ion-padding">
            <app-chart></app-chart>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
</ion-content>
