<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="id === -1">
      <b>
        Merchants
      </b>
    </ion-title>
    <ion-title>
      <ion-breadcrumbs>
        <ion-breadcrumb *ngFor="let entity of headerNavBar;" (click)="goTo(entity.url)">
          {{ entity.name }}
        </ion-breadcrumb>
      </ion-breadcrumbs>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="medium">
  <div id="container">
    <app-table [entityName]="entityName" [id]="id" [name]="name"></app-table>
  </div>
</ion-content>