<ion-grid class="ion-margin-top">
  <ion-row *ngIf="apiService.nextEntity(entityName) === 'beacons'"
    class="ion-justify-content-center ion-align-items-center ion-text-center">
    <ion-col size="11">
      <ion-card class="ion-padding">
        <app-chart *ngIf="dataChart.labels.length > 1" [data]="dataChart" [options]="optionsChart"></app-chart>
        <div *ngIf="dataChart.labels.length == 1" style="height: 50vh;" class="flex-center">
          <ion-spinner *ngIf="!dataChartError" name="crescent" color="primary"
            class="ion-padding ion-margin"></ion-spinner>
          <div *ngIf="dataChartError">
            <ion-grid style="height: auto;">
              <ion-row>
                <ion-col>
                  <img src="../../../assets/chartError.svg" alt="home">
                </ion-col>
                <ion-col class="ion-text-start ion-padding-start ion-margin-start">
                  <ion-title class="ion-no-padding" style="font-size: 3em;">No data...</ion-title>
                  <br>
                  <br>
                  <ion-note>
                    The chart could not be loaded due to lack of data.
                  </ion-note>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-align-items-center ion-text-center">
    <ion-col size="9">
      <ion-searchbar class="ion-text-start" show-cancel-button="never" placeholder="Search by name or id" color="light"
        type="text" (ionInput)="searchbarInput($event)"></ion-searchbar>
    </ion-col>
    <ion-col size="1">
      <ion-button color="success" (click)="add()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="1">
      <ion-button color="secondary" (click)="refresh()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="11">
      <ion-card class="ion-text-center ion-padding " color="light">
        <ion-grid class="ion-padding-bottom">
          <ion-row style="border-bottom: groove;">
            <ion-col size="2.5" *ngIf="apiService.nextEntity(entityName) !== 'beacons'">
              <ion-title><b>ID</b></ion-title>
            </ion-col>
            <ion-col size="2.5">
              <ion-title>
                <b>
                  {{ utilsService.capitalizeFirstLetter(
                  id === '-1' ? utilsService.capitalizeFirstLetter(entityName) : apiService.nextEntity(entityName)
                  )}}
                </b>
              </ion-title>
            </ion-col>
            <ion-col>
              <ion-title><b>Edit</b></ion-title>
            </ion-col>
            <ion-col>
              <ion-title>
                <b>
                  {{ utilsService.capitalizeFirstLetter(
                  id === '-1'? utilsService.capitalizeFirstLetter(apiService.nextEntity(entityName)) :
                  apiService.nextEntity(apiService.nextEntity(entityName))
                  )}}
                </b>
              </ion-title>
            </ion-col>
            <ion-col *ngIf="apiService.nextEntity(entityName) === 'beacons'">
              <ion-title><b>Services</b></ion-title>
            </ion-col>
            <ion-col>
              <ion-title><b>Delete</b></ion-title>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="data.length === 0">
            <ion-title class="ion-padding-top ion-margin">
              <ion-note style="font-size: 1em;">
                No items...
              </ion-note>
            </ion-title>
          </ion-row>
          <ion-row style="border-bottom: groove;" *ngFor="let item of results" class="ion-align-items-center">
            <ion-col size="2.5" *ngIf="apiService.nextEntity(entityName) !== 'beacons'">
              <ion-label>{{ item.id }}</ion-label>
            </ion-col>
            <ion-col size="2.5">
              <ion-label>{{ item.name ? item.name : item.publicIdentifier
                }}</ion-label>
            </ion-col>
            <ion-col>
              <ion-button disabled size="small" color="primary" (click)="edit(item)">
                <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button [disabled]="apiService.nextEntity(entityName) === 'beacons'" size="small" color="primary"
                (click)="details(item.id, item.name ? item.name : item.publicIdentifier, false)">
                <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col *ngIf="apiService.nextEntity(entityName) === 'beacons'">
              <ion-button disabled size="small" color="primary" (click)="details(item.id, 'services', true)">
                <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button disabled size="small" color="danger" (click)="delete(item.id)">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>